// global
$index-background-color: #0c0d10;

$text-primary: #f1f2f4;
$text-secondary: #7c7164;

// lc8
$lc8-primary: #67c4f2;
$lc8-secondary: #e0e9ef;

// ocv
$ocv-primary: #c21628;
$ocv-secondary: #260909;
